.line-text{
  display: flex;
  align-items: center;
  align-content: center;
}
.line {
  margin-bottom: 0.5rem;
  flex: 1;
  height: 1px;
  background-color: #C2C2C2;
  margin-left: 3rem;
  margin-right: 3rem;
}
.favorite__first{
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  padding-top: 4rem;
  padding-left: 3rem;
  padding-bottom: 1rem;
}

.favorites__container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding: 50px;
}

.example-card{
  flex: 1;
  display:flex;
  flex-direction: row;
  max-width: 1000px;
  width: 100%;
  height: fit-content;
  font-family: 'Montserrat' , sans-serif;
}


.card__img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.card__information{
  flex: 1;
  display: flex;
  flex-direction: column;
}

.card__header{
  color:white;
  background-color: black;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  justify-content: space-between;
  font-family: 'Montserrat' , sans-serif;
}

.card__title{
  font-family: 'Montserrat' , sans-serif;
  font-weight: 600;
}

.card__content{
  padding: 20px;
  height: 100%;
}

.delete__button{
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}
.delete__button:hover{
  color: #FFD146;
  cursor: pointer;
}

.card__footer{
  display: flex;
  justify-content: flex-end;
  padding: 20px 30px;
  align-items: center;
}

.offer__button{
  background-color: #FFD146;
  color: black;
  padding: 5px 60px;
  border-radius: 20px;
  border: none;
  font-weight: bold;
  font-size: 17px;
  font-family: 'Montserrat' , sans-serif;
}

.offer__button:hover{
  background-color: #000000;
  color: #FFD146;
  transform: scale(1.02);
}

.star__container{
  background-color: #FFD146;
  border-radius: 50%;
  padding: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.star__img{
  width: 30px;
  height: 30px;
}

.p__information{
  word-break: break-word;
  display: flex;
  align-items: center;
  font-family: 'Montserrat' , sans-serif;
}

.p__price{
  font-weight: bold;
  font-family: 'Montserrat' , sans-serif;
}

@media screen and (max-width: 1150px){
  .favorite__first{
    padding-top: 2rem;
    padding-left: 1rem;
  }
}
@media (max-width: 940px) {
  .example-card{
    flex-direction:column;
    width: 90vw;
  }

  .card__img {
    width: 100%;
    height: 300px;
  }

  .star__container{
    padding: 8px;
  }

  .star__img{
    width: 25px;
    height: 25px;
  }

}
