<div class="container">

  <section class="section-1">
    <h2 class="title">Datos de Contacto</h2>

    <h3 class="subtitle">Nombre</h3>
    <mat-form-field>
      <input matInput placeholder="Nombre">
    </mat-form-field>


    <h3 class="subtitle">Correo Electronico</h3>
    <mat-form-field>
      <input matInput placeholder="Correo Electronico">
    </mat-form-field>

    <h3 class="subtitle">Telefono</h3>
    <mat-form-field>
      <input matInput placeholder="Telefono">
    </mat-form-field>

    <h3 class="subtitle">Pais</h3>
    <mat-form-field>
      <mat-select [(ngModel)]="selectedCountry" (selectionChange)="onCountrySelectionChange()">
        <mat-option *ngFor="let country of countries" [value]='country.country'>{{country.country}}</mat-option>
      </mat-select>
    </mat-form-field>

    <h3 class="subtitle">Departamentos</h3>
    <mat-form-field>
      <mat-select [(ngModel)]="selectedDepartments" (selectionChange)="onCitiesSelectionChange()">
        <mat-option *ngIf="!departments || departments.length === 0" [value]="null">No hay departamentos disponibles</mat-option>
        <mat-option *ngFor="let department of departments" [value]='department.name'>{{department.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <h3 class="subtitle">Ciudades</h3>
    <mat-form-field>
      <mat-select>
        <mat-option *ngIf="!cities || cities.length === 0" [value]="null">No hay ciudades disponibles</mat-option>
        <mat-option *ngFor="let city of cities" [value]='city'>{{city}}</mat-option>
      </mat-select>
    </mat-form-field>

    <p><mat-checkbox >Acepto la politica y privacidad</mat-checkbox></p>

  </section>
  <section class="section-2">
    <div class="title-boost"><h3>Boost de Visibilidad</h3><mat-slide-toggle></mat-slide-toggle></div>
    <p>Activa tu boost! Al hacerlo, tu producto sera
      destacado en la pagina principal durante un
      dia, aumentando tus oportunidades de
      encontrar un intercambiador</p>
  </section>
</div>
