<form [formGroup]="formProduct">

  <section class="section-1">

    <mat-label>Nombre</mat-label><input matInput [value]="user?.name" disabled>
    <mat-label>Correo electronico</mat-label><input matInput [value]="user?.email" disabled>
    <mat-label>Telefono</mat-label><input matInput [value]="user?.phone" disabled>

    <mat-label>Pais</mat-label>
    <select formControlName="country" (change)="onCountrySelectionChange()">
      <option [ngValue]="null" selected [hidden]="!formProduct.value.country">{{!formProduct.value.country ? '' : '..'}}</option>
      <option *ngFor="let country of countries" [ngValue]='country.country'>{{country.country}}</option>
    </select>
    <div *ngIf="formProduct.get('country')?.invalid && formProduct.get('country')?.touched">
      *Seleccion requerida
    </div>

    <mat-label>Departamentos</mat-label>
    <select formControlName="departament"  (change)="onCitiesSelectionChange()">
      <option   [ngValue]="null" selected [hidden]="!formProduct.value.departament">{{!formProduct.value.departament ? '' : '..'}}</option>
      <option *ngIf="!departments.length" disabled>No hay departamentos disponibles</option>
      <option  *ngFor="let department of departments" [ngValue]='department.name'>{{ department.name }}</option>
    </select>
    <div *ngIf="formProduct.get('departament')?.invalid && formProduct.get('departament')?.touched">
      *Seleccion requerida
    </div>

    <mat-label>Ciudades</mat-label>
    <select formControlName="district" class="search-input" >
      <option  [ngValue]="null" selected [hidden]="!formProduct.value.district">{{!formProduct.value.district ? '' : '..'}}</option>
      <option *ngIf="!cities.length" disabled>No hay ciudades disponibles</option>
      <option *ngFor="let city of cities" [ngValue]='city'>{{city}}</option>
    </select>
    <div *ngIf="formProduct.get('district')?.invalid && formProduct.get('district')?.touched">
      *Seleccion requerida
    </div>


      <mat-checkbox [formControl]="acceptPolicy"> Acepto la política y privacidad</mat-checkbox>
    <div *ngIf="acceptPolicy.invalid && acceptPolicy.touched">
      *Confirma los terminos
    </div>


  </section>


  <section class="section-2">
    <div class="title-boost"><h3>Boost de Visibilidad</h3><mat-slide-toggle formControlName="boost"></mat-slide-toggle></div>
    <p>Activa tu boost! Al hacerlo, tu producto sera
      destacado en la pagina principal durante un
      dia, aumentando tus oportunidades de
      encontrar un intercambiador</p>
  </section>

  <button type="submit" (click)="onSubmit()">Submit</button>

</form>


{{formProduct.value | json}}
