mat-label,input,h1,select,option,mat-checkbox{
  font-family: 'Montserrat', sans-serif;
}

.section-1,.section-2{
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 2rem;
  margin-bottom: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Sombras en los bordes */
}

.section-1 input,.section-1 select{;
  outline: none;
  border-radius: 5px;
  height: 2rem;
  border:solid 1px #C2C2C2;
}

.section-1 select:focus{;
  border:solid 2px #FFD146;
}
.section-1 input{
  margin-bottom: 0.5rem;
}
.section-1 div{
  color:red;
  height: 1.2rem;
  width: 100%;
  font-size: 0.7rem;
}

mat-label{
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 0.4rem;
}



.title{
  text-align: center;
  font-weight: bolder;
  margin-bottom: 1.5rem;
}

.box-policy{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.box-policy mat-label{
  color: #000000;
  margin:0;
  padding:0;
}

.box-policy mat-checkbox{
  display: inline-flex;
  --mdc-checkbox-selected-icon-color: #FFD146;
  --mdc-checkbox-selected-color: #FFD146;
  --mdc-checkbox-selected-focus-icon-color: #FFD146;
  --mdc-checkbox-selected-hover-icon-color: #FFD146;
  --mdc-checkbox-unselected-focus-icon-color: black;

  --mdc-checkbox-selected-hover-state-layer-color: #FFD146;
  --mdc-checkbox-selected-focus-state-layer-color: none;
  --mdc-checkbox-unselected-hover-state-layer-color: none;/*sombra cuando pones mouse y esta apagado*/
  --mdc-checkbox-unselected-focus-state-layer-color: none;

  --mat-full-pseudo-checkbox-selected-icon-color: #FFD146;
  --mat-minimal-pseudo-checkbox-selected-checkmark-color: #FFD146;
  --mdc-checkbox-selected-pressed-state-layer-color: #FFD146;
  --mdc-checkbox-selected-pressed-icon-color: #FFD146;
  --mdc-checkbox-unselected-pressed-state-layer-color: rgba(182, 174, 150, 0.72)

}

.box-policy mat-label a{
  text-decoration: none;
  color: #FFD146;
}

/*boost*/
.section-2 p{
  text-align: justify;
}

.box-boost{
  display: flex;
  justify-content: space-between;
}

.box-boost mat-slide-toggle {
  --mdc-switch-selected-focus-state-layer-color: rgba(174, 135, 5, 0.72);
  --mdc-switch-selected-handle-color: rgba(243, 184, 0, 0.72);
  --mdc-switch-selected-hover-state-layer-color: #FFD146;
  --mdc-switch-selected-pressed-state-layer-color: rgba(243, 184, 0, 0.72);/*pone a la sombra del icono al poner click*/
  --mdc-switch-selected-focus-handle-color: #FFD146;
  --mdc-switch-selected-hover-handle-color: #FFD146;
  --mdc-switch-selected-focus-track-color: #FFD146;
  --mdc-switch-selected-pressed-handle-color: rgba(174, 135, 5, 0.72);/*pone color del icono al poner click*/
  --mdc-switch-selected-pressed-track-color: #FFD146;/*pone color al slide al poner click*/
  --mdc-switch-selected-hover-track-color: #FFD146 /*color del slide cuando pasa el mouse encima*/;
  --mdc-switch-selected-track-color: #FFD146;/*color del slide cuando esta activado*/
}


@media(max-width: 565px){
  .section-1{
    padding:1.5rem;
  }
}
