<div class="container">
  <h1 class="title">Ayuda</h1>
  <p class="introduction">
    ¡Aprende a cómo utilizar CambiaZo! ¡Bienvenido a CambiaZo! Aquí encontrarás una guía
    diseñada para ayudarte a sacar el máximo provecho de nuestra plataforma. Sobre cómo
    publicar un anuncio efectivo, estamos aquí para guiarte en cada paso del camino. ¡Comienza
    tu viaje con CambiaZo hoy mismo y descubre cómo hacer trueques de manera fácil y exitosa!
  </p>

  <h2 class="title-comment">¿Cuál es el significado de un intercambio?</h2>
  <p>
    Un intercambio supone el otorgamiento de bienes o servicios a otros bienes o servicios,
    sin la implicación de dinero como medio de valor en la transacción, a diferencia de una
    compra o venta habitual.
  </p>
  
</div>
