<div class="user-offers-title">
  <p>Ofertas:</p>
</div>
<div>
  <div class="line-text">
    <div class="line"></div>
  </div>
  <div class="offers-buttons">
    <button class="sent" (click)="showSentOffers()" [class.active]="showSent">Enviadas</button>
    <button class="get" (click)="showGetOffers()" [class.active]="!showSent">Recibidas</button>
  </div>
  <div class="line-text">
    <div class="line"></div>
  </div>
</div>

<app-user-sent-offers *ngIf="showSent"></app-user-sent-offers>
<app-user-get-offers *ngIf="!showSent"></app-user-get-offers>
