<footer>
  <div class="footer-content">
    <div class="footer-section">
      <p class="copyright">© TechZo 2024. All Rights Reserved.</p>
    </div>
    <div class="footer-section">
      <ul class="footer-links">
        <li><a  routerLink="/terms-of-use" routerLinkActive="activate" title="Condiciones de uso">Condiciones de uso</a></li>
        <li><a routerLink="/privacy-policy" routerLinkActive="activate" title="Política de privacidad">Política de privacidad</a></li>
      </ul>
    </div>
  </div>
</footer>
