<p>IntercambioZ publicados</p>

<div>
  <div class="container-products">
    <div class="container-image-products">
      <img src="https://imagedelivery.net/olI9wp0b6luWFB9nPfnqjQ/res/abillionveg/image/upload/nrcjzaaymhujytbcanis/1656041781.jpg/w=720">
    </div>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Iphone 6s</mat-card-title>
        <mat-card-subtitle>Tecnología</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>Iphone que tiene poco uso, el estado de su batería es del 70%</p>
        <p><mat-icon style="color: #FFD146">place</mat-icon>San Juan de Miraflores, Lima</p>
        <p>Cambio por un Samsung A20</p>
      </mat-card-content>
      <mat-card-footer>
        Valor apróximado s/.650.00
      </mat-card-footer>
    </mat-card>
  </div>
</div>
