
.filter-section{
  display: flex;
  flex-direction: row;
  padding: 1rem 2rem;
}

app-search-products{
  width: 25rem;
  padding: 2rem;
}

app-products-found {
  width: 75%;
  padding: 2rem 0;

}

@media (max-width: 860px){

  app-products-found {
    width: 60%;
  }
}

@media (max-width: 735px){
  .filter-section{
    flex-direction: column;
    align-items: center;
  }

  app-products-found {
    width: auto;
  }
  app-search-products {
    width: 100%;

  }

}
