<div class="container">
  <button class="button-close" mat-dialog-close><mat-icon>close</mat-icon></button>
  <div class="dialog-title" mat-dialog-title>
    <h1>¡FELICIDADES!</h1>
  </div>

  <div class="dialog-content" mat-dialog-content>
    Estamos muy contentos de que hayas completado de manera exitosa este CambiaZo. Le haremos saber a {{}} que aceptaste la oferta recibida.
  </div>

  <div class="dialog-actions" mat-dialog-actions>
    <p>Información de Contacto de {{}}</p>
    <a class="button-confirm">WhatsApp</a>
    <a class="button-cancel">Telegram</a>
  </div>
</div>
