<h1 class="title-latest-posts">Ultimos Trueques Publicados</h1>
<div class="container-card">
  <ng-container *ngFor="let item of items" >

    <mat-card class="example-card" *ngIf="item.boost == false">
      <div class="container-post-image">
        <img mat-card-image src='{{item.images[0]}}' alt="Photo Product">
      </div>

      <div class="location"><mat-icon style="color: #FFD146">place</mat-icon>{{item.contact_information.district}}</div>
      <mat-card-header>
        <mat-card-title>{{item.product_name}}</mat-card-title>
        <mat-card-subtitle>{{item.category.name}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p class="description">{{item.description}} </p>
        <hr>
        <p class="change-object">{{item.change_for}}</p>
      </mat-card-content>

      <mat-card-footer>S/{{item.price}} valor aprox.</mat-card-footer>
    </mat-card>
  </ng-container>
</div>

