.loading-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 2em;
  color: #FFD146;
}
.container-product-information {
  padding: 3rem;
}

section {
  background-color: #FFD146;
  align-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1.5rem;
  border-radius: 30px 0 0 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin-bottom: 1rem;
}

section h1 {
  margin: 0;
  font-size: 2rem;
  font-weight: bolder;
  font-family: 'Montserrat', sans-serif;
}

.content-information {
  display: flex;
  gap: 1rem;
}

.product-information {
  width: 70%;
}

.user-information {
  width: 30%;
}

mat-card {
  border-radius: 0px;
  padding: 0px;
  font-family: 'Montserrat', sans-serif;
}

.product-image {
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.product-image mat-card mat-card-content {
  text-align: center;
}

.product-image mat-card mat-card-content img {
  width: 75%;
  height: 70vh;
  object-fit: cover;
  object-position: center;
}

.product-data{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.product-data mat-card mat-card-title {
  background-color: #000;
  color: #FFD146;
  padding: 1rem;
}

.product-data mat-card mat-card-title h1{
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
}

.product-data mat-card mat-card-content {
  padding: 1.5rem;
}

.product-data mat-card mat-card-content h1{
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
}

.product-data mat-card mat-card-content p{
  text-align: justify;
  font-size: 1rem;
  padding-bottom: 1rem;
}

.product-details{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.product-details mat-card mat-card-content {
  padding: 1.5rem;
}

.product-details mat-card mat-card-content h1, h3{
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
}

.product-details mat-card mat-card-content p{
  font-size: 1rem;
}

.product-category{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.category{
  border: 2px solid #FFD146;
  border-radius: 5px;
  padding: 0.25rem;
  color: #FFD146;
  font-weight: bolder;
  text-align: center;
}

.user-data{
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.user-data mat-card mat-card-title {
  background-color: #FFD146;
  text-align: center;
  padding: 1rem;
}

.user-data mat-card mat-card-header h1{
  font-weight: bolder;
  font-family: 'Montserrat', sans-serif;
}
mat-card-header{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding:0;
  text-align: center;
}

mat-card-subtitle{
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  color: #000;
  margin-top:1rem;
}
.user-data mat-card mat-card-title img{
  width: 120px;
  height: 120px;
  border: 3px solid #fff;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.user-data mat-card mat-card-content {
  text-align: center;
  padding: 1rem;
}
.user-data mat-card mat-card-content h1{
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
}

.user-interest h1{
  text-align: left;
  padding-top: 1rem;
}

.button-container button{
  width: 100%;
  border: 2px solid #FFD146;
  border-radius: 10px;
  margin-bottom: 2rem;
  padding: 0.35rem;
  transition: 0.43s;
  height: 45px;
}

.button-container button:hover{
  color: #FFD146;
  background-color: #000;
}

.view-profile{
  background-color: #FFD146;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.offer-button{
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  gap: 0.5rem;
}

.offer-button p{
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
}

.favorite-button{
  margin-top: 1rem;
  background-color: #FFD146;
  border-radius: 50%;
  padding: 1rem;
  width: 80px;
  height: 80px;
}
.category p{
  text-align: center;
}
@media (max-width: 768px) {
  section h1{
    font-size: 1.5rem;
  }
  .content-information {
    flex-direction: column;
  }

  .product-information, .user-information {
    width: 100%;
  }

  .product-data mat-card mat-card-title h1{
    font-size: 1.5rem;
  }

  .product-image mat-card mat-card-content img {
    width: 70%;
    height: 200px;
  }
}

@media (max-width: 450px) {
  .product-category{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
  }
}
