.filter-section{
  background:#FFFFFF;
  padding: 1.5rem;
  border:solid 2px rgb(0,0,0,0.1);
  border-radius: 20px;
  font-family: 'Montserrat', sans-serif;


}

mat-form-field,ng-container, p,mat-checkbox,h4 {
  font-family: inherit;
}


.form-content{
  width:100%;
  justify-content: center;
  overflow: hidden;

}

.search-wrapper {
  display: flex;
  flex-direction: row;
  align-content: center;
}


.search-icon {
  margin-right: 8px;
}



.button-submit{
  justify-self: center;
  background: #FFD146;
  border-radius: 20px;
  width: 100%;
  margin-top:4rem;
}

hr{
  border: solid 1px rgba(0,0,0,0.1);
}


.filter-section mat-checkbox{
    display: inline-flex;
    --mdc-checkbox-selected-icon-color: #FFD146;
    --mdc-checkbox-selected-color: #FFD146;
    --mdc-checkbox-selected-focus-icon-color: #FFD146;
    --mdc-checkbox-selected-hover-icon-color: #FFD146;
    --mdc-checkbox-unselected-focus-icon-color: black;

    --mdc-checkbox-selected-hover-state-layer-color: #FFD146;
    --mdc-checkbox-selected-focus-state-layer-color: #FFD146;
    --mdc-checkbox-unselected-hover-state-layer-color: none;/*sombra cuando pones mouse y esta apagado*/
    --mdc-checkbox-unselected-focus-state-layer-color: none;

    --mat-full-pseudo-checkbox-selected-icon-color: #FFD146;
    --mat-minimal-pseudo-checkbox-selected-checkmark-color: #FFD146;
    --mdc-checkbox-selected-pressed-state-layer-color: #FFD146;
    --mdc-checkbox-selected-pressed-icon-color: #FFD146;
    --mdc-checkbox-unselected-pressed-state-layer-color: rgba(182, 174, 150, 0.72)

}


@media(max-width: 1000px) {

  .filter-section{
    width: 32rem;
  }
}

@media(max-width: 650px) {
  .filter-section{
    width:80%;
  }
}
