  <div class="container">
    <div class="dialog-title" mat-dialog-title>
      <h1>Muchas gracias por ofrecer tu {{data.product_name}}</h1>
    </div>

    <div class="dialog-content" mat-dialog-content>
      Te notificaremos el estado de tu solicitud en las siguientes horas. Ya sea que {{data.user_name}} acepte o decline tu oferta.
    </div>

    <div class="dialog-actions" mat-dialog-actions>
      <button mat-button mat-dialog-close routerLink="/home">Confirmar</button>
    </div>
  </div>
