<div class="information-ong">

  <h3>Detalles</h3>

  <section>
    <h1 class="title-name">{{ong?.nameUpper}}</h1>
  </section>

  <section class="socials">
    <button *ngFor="let social of ong?.social_networks" class="social-button">
      <a [href]="social?.url" target="_blank">
        <img *ngIf="social?.name.toLowerCase() === 'facebook'"
             src="https://upload.wikimedia.org/wikipedia/commons/b/b9/2023_Facebook_icon.svg"
             [alt]='social?.name' class="social-icon">
        <img *ngIf="social?.name.toLowerCase() === 'twitter'"
             src="https://cdn-icons-png.flaticon.com/512/3938/3938028.png"
             [alt]='social?.name' class="social-icon">
        <img *ngIf="social?.name.toLowerCase() === 'instagram'"
             src="https://w7.pngwing.com/pngs/822/208/png-transparent-instagram-application-icon-social-media-logo-symbol-insta-text-monochrome-social-media-marketing-thumbnail.png"
             [alt]='social?.name' class="social-icon">
        {{ social?.name }}
      </a>
    </button>
  </section>


  <section class="about-us">
    <h3>Acerca de nosotros</h3>
    <p>{{ong?.information[0].about}}</p>
  </section>

  <section class="mission-vision">
    <h3>Misión y Vision</h3>
    <p>{{ong?.information[0].mission_vision}}</p>

  </section>

  <section class="support">
    <h3>Formas de apoyo</h3>
    <p>{{ong?.information[0].forms_of_support}}</p>
    <h3>Proyectos</h3>
    <ul>
      <li *ngFor="let project of ong?.projects">
        <h4>{{project?.name}}</h4>
        <p>{{project?.description}}</p>
      </li>
    </ul>
    <ul>

    </ul>
  </section>
</div>
