<div class="container">
  <button class="button-close"  mat-dialog-close><mat-icon>close</mat-icon></button>
  <div class="dialog-title" mat-dialog-title>
    <h1>Sin productos disponibles</h1>
  </div>

  <div class="dialog-content" mat-dialog-content>
    Parece que no tienes productos disponibles para intercambiar. Publica un nuevo objeto para continuar con tus trueques.
  </div>

  <div class="dialog-actions" mat-dialog-actions>
    <button class="button-login" mat-button (click)="postProduct()">Publicar</button>
  </div>
</div>
