
<div class="container-slider">
  <div class="container-cards" *ngFor="let i of [1,2]">
    <ng-container *ngFor="let item of items">

      <mat-card *ngIf="item.boost == true">
        <div class="image" [style.background-image]="'url(' + item.images[0] + ')'"></div>
        <div class="info-card">
          <p class="location"><mat-icon style="color: #FFD146">place</mat-icon>{{item.contact_information.district}}</p>
          <mat-card-header>
            <div class="container-titles">
              <mat-card-title>{{item.product_name}}</mat-card-title>
              <mat-card-subtitle>
                <button >{{item.category.name}}</button>
              </mat-card-subtitle>
            </div>
          </mat-card-header>
          <mat-card-content>
            <p class="p-info">{{item.change_for}}</p>
            <p class="p-price">S/{{item.price}} valor aprox.</p>
          </mat-card-content>
        </div>
      </mat-card>
    </ng-container>

  </div>
</div>
