.verify-email {
  width: 100%;
  height: 100%;
  display: flex;
}
.form-container{
  display: flow;
  padding: 5% 20% 0 20%;
  align-content: center;
  justify-content: center;

}
.button {
  background-color: #FFD146;
  width: 100%;
  padding: 25px;
  border: none;
  border-radius: 35px;
  cursor: pointer;
  margin-bottom: 25px;
  margin-top: 30px;
}
main {
  width: auto;
  height: 100%;
  display: block;
}
.mat-form-field {
  width: 100%;
  margin-bottom: 15px;
  border-radius: 30px;
  box-sizing: border-box;
}
.boxB{
  width: 100%;
}
.col1{
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #ffffff;

}
.col2{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.button:hover {
  background-color: #000000;
  color: #ffffff;
}
.mat-label {
  font-weight: normal;
}

.form-container img{
  width: 100%;
  object-fit: contain;
}
.col2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.text{
  text-align: center;
}
.title{
  font-size: 30px;
  margin: 40px 0 20px 0;
  font-weight: bold;
  text-align: center;
}
.button-home {
  position: absolute;
  margin:1rem;
  background-color: #FFD146;
  border-radius: 10px;
  height: 35px;
  width: 35px;
  display: flow;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.home-icon{
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.mat-input-element{
  border: 1px solid #C2C2C2;
  width: 95%;
  height: 25px;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  margin: 5px 0 0px 0;
}
.error-message{
  color: #ff0000;
  position: absolute;
}

@media(max-width: 915px){
  .col2 img, .col2{
    display: none;
  }

  .verify-email{
    height: auto;
  }

  .form-container{
    margin: 5rem 0 5rem 0;
  }

}
