.container{
  font-family: 'Montserrat', sans-serif;
}

mat-card,mat-card-header,mat-cardtitle,mat-card-subtitle,p{
  font-family: inherit;
}

.form-content{

  width:100%;
  justify-content: center;
  overflow: hidden;
}

.search-wrapper {
  display: flex;
  align-content: center;
}

.search-icon {
  margin-right: 8px;
}


/******************/
mat-card-header{
  padding:0;
}
mat-card-title, mat-card-subtitle{
  margin: 0;
}
mat-card{
  display: flex;
  flex-direction: row;
  border-radius: 15px;
  border:solid 2px rgb(0,0,0,0.1);
  box-shadow: none;
  font-family: inherit;
  padding:0.5rem;

  align-items: center;

}

mat-card:not(last-of-type){
  margin-bottom: 2rem;
}
mat-card img{
  height: 5rem;
  border-radius: 15px;
}

mat-card-header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: inherit;
}

mat-card-header p{
  margin: 0.5rem 0 0 1rem;
  font-family: inherit;

}
mat-card-subtitle{
  font-size: 1rem;
  font-family: inherit;
  margin-left: 1rem;

}

mat-card-title{

  line-height: 1.2rem;
  font-family: inherit;
  font-weight: bold;
  margin-left: 1rem;

}

@media (max-width: 500px){
  mat-card-header{
    padding-left:0;
  }

  mat-card-title{
    font-size: 0.9rem;
  }

  mat-card-subtitle{
    font-size: 0.85rem;
  }

  mat-card img{
    height: 4rem;
  }

  mat-card-header p{
    display: initial;
    font-size: 0.8rem;
  }

  mat-card-actions{
    display: none;
  }


}
