<form [formGroup]="formProduct">
  <section class="section-1">
    <h1 class="title">Informacion de tu publicacion</h1>

    <mat-label>Categorias</mat-label>
    <select formControlName="category_id">
      <option  [ngValue]="null" [hidden]="!formProduct.value.category_id" selected>{{!formProduct.value.category_id ? '' : '..'}}</option>
      <option  *ngFor="let category of categories" [ngValue]='category.id'>{{ category.name }}</option>
    </select>
    <div>
      <span *ngIf="formProduct.get('category_id')?.invalid && formProduct.get('category_id')?.touched">
        *Seleccion requerida
      </span>
    </div>

    <mat-label>Producto</mat-label>
      <input matInput formControlName="product_name" >
    <div>
      <span  *ngIf="formProduct.get('product_name')?.invalid && formProduct.get('product_name')?.touched">
      *Seleccion requerida
      </span>
    </div>
    <mat-label  >Describe tu producto</mat-label>
      <textarea  formControlName="description"></textarea>
    <div>
      <span *ngIf="formProduct.get('description')?.invalid && formProduct.get('description')?.touched">
      *Seleccion requerida
      </span>
    </div>
    <mat-label>¿Que quieres a Cambio?</mat-label>
      <textarea  formControlName="change_for"></textarea>
    <div>
      <span *ngIf="formProduct.get('change_for')?.invalid && formProduct.get('change_for')?.touched">
      *Seleccion requerida
      </span>
    </div>

    <mat-label >Valor Aproximado</mat-label>
      <span class="box-input-price">
        <div style="  border-radius: 5px 0 0 5px;
width: 2rem; font-size:16px; background: #FFD146;display:flex;height: inherit;justify-content: center;align-items:center;color:black; font-weight: bolder">S/.</div>
        <input style="width: 100%" formControlName="price" type="number" (beforeinput)="validateInput($event)">
    </span>
        <div>
      <span *ngIf="formProduct.get('price')?.invalid && formProduct.get('price')?.touched">
      *Seleccion requerida
      </span>
    </div>
  </section>
</form>

<section class="section-2" *ngIf="false">
  <h1 class="title">Imagenes</h1>
  <div class="gallery-images">
    <div class="container-my-images" *ngFor="let image of images">
        <img [src]="image" alt="imagen">
    </div>
  </div>
</section>

<section class="section-2">
  <h1 class="title">Imagenes</h1>
  <p>Imagenes {{totalFiles}}/1 - Puedes agregar un maximo de 1 foto</p>

  <div class="gallery-images" *ngIf="images.length">
    <div class="container-my-images" *ngFor="let image of images">
      <img [src]="image" alt="imagen">
    </div>
  </div>
  <br>

  <div class="custom-dropzone" >
    <ngx-dropzone accept="image/*" (change)="onSelect($event)" [disableClick]="totalFiles >=1">
        <ngx-dropzone-label  *ngIf="!totalFiles && totalFiles < 1">Subir imagen</ngx-dropzone-label>
        <ngx-dropzone-image-preview
          ngProjectAs="ngx-dropzone-preview"
          [removable]="true"
          *ngFor="let f of files"
          [file]="f"
          (removed)="onRemove(f)"
          style="object-fit: fill">
        </ngx-dropzone-image-preview>

      <div *ngIf="totalFiles && totalFiles < maxFiles " class="sing-more">
      <mat-icon fontIcon="add"></mat-icon>
      </div>
      <div *ngIf="totalFiles >= maxFiles " class="sing-more">
        Maximo de imagenes alcanzado
      </div>
    </ngx-dropzone>
  </div>
</section>

