.container, h1,mat-labe,input,textarea,section,option{
  font-family: 'Montserrat', sans-serif;
}

.section-1,.section-2{
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 2rem;
  margin-bottom: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Sombras en los bordes */
}

.section-1 input, .section-1 textarea,.section-1 select{;
  outline: none;
  border-radius: 5px;
  height: 2rem;
  border:solid 1px #C2C2C2;
}

.section-1 input:focus, .section-1 textarea:focus,.section-1 select:focus{;
  border:solid 2px #FFD146;
}

.section-1 textarea{
  height: 6rem;
  padding:0.5rem;
  resize: none;
  overflow: auto;
}

.section-1 div{
  color:red;
  height: 1.2rem;
  width: 100%;
  font-size: 0.7rem;
}

mat-label{
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 0.4rem;
}

.title{
  text-align: center;
  font-weight: bolder;
  margin-bottom: 1.5rem;
}

.subtitle{
  margin:0;
}

.text-area textarea{
  resize: inherit;
  height:8rem;
}

.section-1 input{
  width: 100%;
  display: flex;
  border-radius: 0 5px 5px 0;
}
.box-price{
  width: 100%;
  flex-direction: row;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



.box-input-price{
  display:flex;
  flex-direction:
    row; justify-content: left
}

.sign-money{
  border-radius: 5px 0 0 5px;
}



/*img 2*/

.section-2 p{
  text-align: center;
}

ngx-dropzone {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  justify-content: center;
}

ngx-dropzone-image-preview {
  width: 45%;
  height: 10rem;
  object-fit: contain;
  overflow: hidden;
  border: solid 1px #C2C2C2;
}

.sing-more {
  width: 50%;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin:0;
}

ngx-dropzone-label{
  height: 8.8rem;
  display: flex;
  align-items: center;
}


.gallery-images{
  display: grid;
  grid-template-columns: repeat(max(4), 1fr);
  grid-auto-rows: 10rem;
  align-items: center;
  justify-items: center;
}

.container-my-images {
  width: 90%;
  height: 90%;
}

.container-my-images img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
 }

@media(max-width: 1100px){
  ngx-dropzone {
    flex-direction: column;
  }
  ngx-dropzone-image-preview {
    width: 90%;
  }

  .gallery-images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(max-width: 900px){
  ngx-dropzone-image-preview {
    width: 45%;
  }
  ngx-dropzone {
    flex-direction: row;
  }

  gallery-images{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}


@media(max-width: 565px){
  ngx-dropzone {
    flex-direction: column;
  }
  ngx-dropzone-image-preview {
    width: 90%;
  }

  .section-1,.section-2{
    padding:1.5rem;
  }

  .gallery-images{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
