<form [formGroup]="formProduct">
  <section class="section-1">
    <mat-label class="title">Informacion de tu publicacion</mat-label>

    <mat-label>Categorias</mat-label>
    <select formControlName="category_id">
      <option  [ngValue]="null" [hidden]="!formProduct.value.category_id" selected>{{!formProduct.value.category_id ? '' : '..'}}</option>
      <option  *ngFor="let category of categories" [ngValue]='category.id'>{{ category.name }}</option>
    </select>
    <div *ngIf="formProduct.get('category_id')?.invalid && formProduct.get('category_id')?.touched">
      *Seleccion requerida
    </div>

    <mat-label>Producto</mat-label>
      <input matInput formControlName="product_name" >
    <div *ngIf="formProduct.get('product_name')?.invalid && formProduct.get('product_name')?.touched">
      *Seleccion requerida
    </div>
    <mat-label  >Describe tu producto</mat-label>
      <textarea  formControlName="description"></textarea>
    <div *ngIf="formProduct.get('description')?.invalid && formProduct.get('description')?.touched">
      *Seleccion requerida
    </div>
    <mat-label>¿Que quieres a Cambio?</mat-label>
      <textarea  formControlName="change_for"></textarea>
    <div *ngIf="formProduct.get('change_for')?.invalid && formProduct.get('change_for')?.touched">
      *Seleccion requerida
    </div>

    <mat-label >Valor Aproximado</mat-label>
      <input  type="number" formControlName="price" class="example-right-align" placeholder="0">
    <div *ngIf="formProduct.get('price')?.invalid && formProduct.get('price')?.touched">
      *Seleccion requerida
    </div>

    <mat-label >Image</mat-label>
    <input type="file" (change)="onFilesSelected($event)" multiple>
    <div class="container-images">
      <div *ngFor="let imageUrl of imagesUrls">
        <img [src]="imageUrl" alt="Imagen seleccionada" style="width: 100%; height: 100%;">
      </div>
    </div>




  </section>

</form>
<button type="submit" (click)="onSubmit()">Submit</button>
{{formProduct.value | json}}
