.title-latest-posts{
  margin:0;
  background: #FFD146;
  color: #000000;
  font-weight: bold;
  font-size: 35px;
  text-align: center;
  padding:13px;
  font-family: 'Montserrat', sans-serif;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);

}
.container-card{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 4rem;
  font-family: 'Montserrat', sans-serif;
}

mat-card {
  width: 280px;
  height: 472px;
  margin-bottom: 30px;
  margin-right: 15px;
  margin-left: 15px;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.7);

}


mat-card-title,mat-card-content,mat-card-header{
  padding:0;
  margin:0;
}

mat-card-title{
  display: -webkit-box; /* Propiedad necesaria para line-clamp */
  -webkit-line-clamp: 1; /* Limita el texto a dos líneas */
  -webkit-box-orient: vertical; /* Propiedad necesaria para line-clamp */
  overflow: hidden;
  text-overflow: ellipsis;
}

.change-object{
  display: -webkit-box; /* Propiedad necesaria para line-clamp */
  -webkit-line-clamp: 2; /* Limita el texto a dos líneas */
  -webkit-box-orient: vertical; /* Propiedad necesaria para line-clamp */
  overflow: hidden;
  text-overflow: ellipsis;
  height: 2.5rem;
}
.container-post-image{
  width: inherit;
  height: 248px;
}
img{
  width: inherit;
  height: inherit;
  object-fit: cover;
}

.location{
  margin:0;
  padding:5px;
  background: black;
  color: white;
  text-align: center;
  display: flex;
  align-content: center;
  justify-content: center;
  font-size: 15px;
}

mat-card-content{
  height: 100%;
  padding:0 10px 0 10px;

}
hr{
  border: solid 1px #FFD146;
}
mat-card-header{
  padding-right: 10px;
  padding-left: 10px;
}
mat-card-footer{
  padding: 0.2rem 0 0.2rem 0;
  background: #FFD146;
  font-size: 15px;
  color: #000000;
  font-weight: bolder;
  text-align: center;
  height: 28px;
}

.description{
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 2.5rem;
}

