
.container{
  padding:1rem;
  font-family: 'Montserrat', sans-serif;
}
.p-1{
  font-size: 6vh;
}
.p-2{
  color: #FFD146;
  font-size: 5vh;
  margin-bottom: 1rem;
}
.p-1,.p-2{
  font-weight: bolder;
  margin-top:1rem;
  text-align: center;
  line-height: 3.5rem;
  padding-left: 10rem;
  padding-right: 10rem;
}
.container-ongs{
  display: flex;
  flex-direction: row;
}


.section-search-ongs{
  width: 70%;
  padding:2rem 2rem 2rem 6rem;

}

.section-filter-ongs{
  width:30%;
  padding:2rem;
}



@media(max-width: 1000px){
  .container-ongs{
    flex-wrap: wrap-reverse;
    align-content: center;
    justify-content: center;

  }

  .section-search-ongs{
    width:100%;
    padding:1rem;

  }

  .section-filter-ongs{
    width:100%;
    padding:1rem;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .p-1 {
    font-size: 4vh;
  }

  .p-2 {
    font-size: 3vh;
  }

  .p-1, .p-2 {
    line-height: 1;
    padding:0;
  }

}
