footer{
  background: #000;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  padding:50px;
  text-align: center;
  color: #ffffff;
}
/*etiquetas reestablecidas*/
li{
  list-style: none;
}
ul{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
}
h2{
  font-size: inherit;
  font-family: inherit;
  margin:0;
  font-weight: inherit;
}

/*-------------------- Row 1--------------------------------------*/
.nav{
  display: flex;
  justify-content: space-between;
  color:#ffffff;
  font-size: 22px;
}

.column{
  height: 150px;
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/*--------column 1-------------*/
.logo img{
  width: 320px;
}

/*--------column 2-------------*/


/*--------column 3-------------*/

.socials ul{
  width: 320px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
