<footer>
  <div class="row nav">
    <div class="column logo">
      <img src="../../../assets/images/logos/logo-1.png" alt="Logo Cambiazo" >
    </div>

    <ul class="column section">
      <li><a  routerLink="/home" routerLinkActive="activate" title="Inicio">Inicio</a></li>
      <li><a  routerLink="/donations" routerLinkActive="activate" title="Donaciones">Donaciones</a></li>
      <li><a  routerLink="/memberships" routerLinkActive="activate" title="Membresías">Membresías</a></li>
    </ul>

    <div class="column socials">
      <h2>Socials</h2>
      <ul>
        <li><a href="#" title="Instagram"><img src="../../../assets/images/icons/instagram.png" alt="Instagram" width="50px" height="50px"></a></li>
        <li><a href="#" title="Youtube"><img src="../../../assets/images/icons/youtube.png" alt="Youtube" width="50px" height="50px"></a></li>
        <li><a href="#" title="Linkedin"><img src="../../../assets/images/icons/linkedin.png" alt="Linkedin" width="50px" height="50px"></a></li>
        <li><a href="#" title="Facebook"><img src="../../../assets/images/icons/facebook.png" alt="Facebook" width="50px" height="50px"></a></li>
      </ul>
    </div>
  </div>

  <ul class="row info">
    <li><a  routerLink="/help" routerLinkActive="activate" title="Ayuda">Ayuda</a></li>
    <li><a  routerLink="/contact" routerLinkActive="activate" title="Contacto">Contacto</a></li>
    <li><a  routerLink="/terms-of-use" routerLinkActive="activate" title="Condiciones de uso">Condiciones de uso</a></li>
    <li><a routerLink="/privacy-policy" routerLinkActive="activate" title="Política de privacidad">Política de privacidad</a></li>
  </ul>
  <div class="row copy">
    © TechZo 2024. All Rights Reserved.
  </div>
</footer>
