<div class="filter-section" [formGroup]="toppings">
  <h4>Categorías</h4>
  <ng-container *ngFor="let category of categories">
    <p><mat-checkbox formControlName="{{category.id}}">{{category.name}}</mat-checkbox></p>
  </ng-container>

  <hr>

  <h4>Localización</h4>
  <mat-form-field class="form-content">
    <div class="search-wrapper">
      <mat-icon class="search-icon" >search</mat-icon>
      <input matInput placeholder="Buscar..." required class="search-input" formControlName="localizacion">
    </div>
  </mat-form-field>
  <hr>

  <button class="button-submit" mat-stroked-button [formGroup]="toppings">Filtrar</button>
</div>

<!--
<section class="example-section" [formGroup]="toppings">
  <h4>You chose:</h4>
  {{toppings.value | json}}
</section>
-->

