<div class="change-password">
  <button mat-button routerLink="/login" class="button-home">
    <div class="home-icon">
      <mat-icon fontIcon="keyboard_backspace"></mat-icon>
    </div>
  </button>
  <div class="boxB col1">
    <form class="form-container" [formGroup]="changepasswordForm">
      <div class="logo">
        <input type="image" src="../../../assets/images/logos/logo-2.png" alt="cambiazo-logo" class="img-logo"/>
      </div>
      <h1 class="title">Cambiar Contraseña</h1>


      <div class="form-outline mb-4">
        <mat-label><b>Contraseña</b></mat-label>
        <div class="input-password">
          <input [type]="hide ? 'password' : 'text'"
                 [class.border-danger]="changepasswordForm.controls.contrasenia.errors && (changepasswordForm.controls.contrasenia.touched || submitted)"
                 formControlName="contrasenia"
                 class="text-input-password"/>
          <button class="visibility" matSuffix (click)="hide1($event)" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <img [src]="'assets/images/icons' + (hide ? '/visibility_off.png' : '/visibility.png')" style="width: 15px;height: 15px" alt="">
          </button>
        </div>
        <div *ngIf="(changepasswordForm.controls.contrasenia.touched || submitted) && changepasswordForm.controls.contrasenia.getError('minlength')" class="requisito">
          Mínimo 8 caracteres
        </div>
        <div *ngIf="(changepasswordForm.controls.contrasenia.touched || submitted) && changepasswordForm.controls.contrasenia.getError('required')" class="requisito">
        </div>
      </div>

      <div class="form-outline mb-4">
        <mat-label><b>Repetir contraseña</b></mat-label>
        <div class="input-password">
          <input [type]="hiderepeat ? 'password' : 'text'"
                 [class.border-danger]="changepasswordForm.controls.confirmacionContrasenia.errors && (changepasswordForm.controls.confirmacionContrasenia.touched || submitted) || changepasswordForm.errors && (changepasswordForm.controls.confirmacionContrasenia.touched || submitted)"
                 formControlName="confirmacionContrasenia"
                 class="text-input-password"/>
          <button class="visibility" matSuffix (click)="hide2($event)" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hiderepeat">
            <img [src]="'assets/images/icons' + (hiderepeat ? '/visibility_off.png' : '/visibility.png')" style="width: 15px;height: 15px" alt="">
          </button>
        </div>
        <div *ngIf="(changepasswordForm.controls.confirmacionContrasenia.touched || submitted) && changepasswordForm.controls.confirmacionContrasenia.getError('required')" class="requisito">
        </div>
        <div *ngIf="(changepasswordForm.controls.confirmacionContrasenia.touched || submitted) && changepasswordForm.getError('mustBeEqual')" class="requisito">
          No coincide con la contraseña
        </div>
      </div>



      <button
        mat-button
        type="button"
        (click)="changePassword()"
        class="button"
      >
        <b>Cambiar</b>
      </button>

    </form>
  </div>
  <div class="boxB col2">
    <img src="https://images.unsplash.com/photo-1604176354204-9268737828e4?q=80&w=2080&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Imagen de Donación">
  </div>
</div>
<app-footer-content-2></app-footer-content-2>
