<mat-toolbar>
  <div class="container-logo">
    <img src="../../../assets/images/logos/logo-1.png" alt="Logo Cambiazo" >
  </div>

  <nav class="container-nav">
    <ul>
      <li><a routerLink="" title="Inicio">Inicio</a></li>
      <li><a routerLink="" title="Donaciones">Donaciones</a></li>
      <li><a routerLink="" title="Membresías">Membresías</a></li>
    </ul>
  </nav>

  <div class="container-button">
    <button class="button-login" (click)="createPost()">Publicar</button>
    <button class="button-register" routerLink="/login">Iniciar Sesión</button>
  </div>


</mat-toolbar>
<div class="toolbar-template"></div>
