<div class="sent-offers-cards-container">
  <ng-container *ngFor="let sent of offers.slice().reverse()">
    <div class="container-sent-offers">
      <mat-card class="sent-offers-card">
        <mat-card-header class="header-product-name">
          <h1>{{sent.product_get?.product_name}}</h1>
        </mat-card-header>
        <mat-card-content>
          <div class="content">
            <div class="colum col1">
              <mat-card class="card-get">
                <mat-card-header class="header-card-get">
                  <div mat-card-avatar class="container-image">
                    <img src="{{sent.user_get?.img}}">
                  </div>
                  <h1>{{sent.user_get?.name}}</h1>
                </mat-card-header>
                <mat-card-content class="content-card-get">
                  <p>{{sent.product_get?.description}}</p>
                </mat-card-content>
                <mat-card-footer class="footer-card-get">
                  <img src="{{sent.product_get?.images}}">
                </mat-card-footer>
              </mat-card>
            </div>
            <div class="colum col2">
              <mat-card class="card-offer">
                <mat-card-content class="mat-content">
                  <div class="content-description">
                    <h1>Datos:</h1>
                    <div class="content-more-info">
                      <p> <mat-icon style="color: #FFD146"> monetization_on</mat-icon> Valor estimado: S/.{{sent.product_get?.price}}</p>
                      <p> <mat-icon style="color: #FFD146">place</mat-icon> {{sent.product_get?.location?.district}}, {{sent.product_get?.location?.departament}}</p>
                    </div>
                    <h1>¿Qué solicita {{sent.user_get?.name}}?</h1>
                    <div class="change-for">
                      <img src="./assets/images/icons/change.svg" style="height: 20px; width: 20px">
                      <p>{{sent.product_get?.change_for}}</p>
                    </div>
                    <h1>¿Qué le ofreciste?</h1>
                  </div>
                  <div class="my-offer">
                    <div class="col11">
                      <div class="product-sent-image">
                        <img src="{{sent.product_offers?.images}}">
                      </div>
                    </div>
                    <div class="col22">
                      <div class="product-sent-text">
                        <h1>Ofreciste tu {{sent.product_offers?.product_name}}</h1>
                        <h4>{{sent.product_offers?.description}}</h4>
                        <div class="footer">
                          <h4><b>Valor aproximado s/.{{sent.product_offers?.price}}</b></h4>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="footer-card-offer">
                    <div class="footer-title">
                      <h1>Estado de la oferta:</h1>
                    </div>
                    <div class="status-btn">
                      <div class="status" [ngStyle]="getStatusStyles(sent.status)">
                        <h2>{{sent.status}}</h2>
                      </div>
                    </div>
                  </div>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </ng-container>
</div>
