<div class="container">
  <h1 class="title">Condiciones de Uso</h1>
  <h2 class="title-comment">Descubre las Reglas</h2>
  <p class="introduction">Bienvenido a CambiaZo, la plataforma que facilita el intercambio de
    productos y servicios de manera segura y eficiente. Antes de comenzar
    a utilizar nuestros servicios, te pedimos que leas detenidamente las
    siguientes condiciones. Al acceder y utilizar nuestra plataforma, aceptas
    estar sujeto a estas condiciones. Si no estás de acuerdo con alguna parte
    de estas condiciones, por favor abstente de utilizar nuestro sitio web.</p>

</div>
