<div class="container">

  <h1 class="title">Política de Privacidad</h1>
  <h2 class="title-comment">Tu Seguridad, Nuestra Prioridad</h2>

  <p class="introduction">
    Esta Política de Privacidad describe cómo TechZo recopila, utiliza y protege
    la información personal de los usuarios de nuestra plataforma, de acuerdo con
    las leyes de protección de datos de la República del Perú.
  </p>

  <h3 class="subtitle">Información Personal Recopilada</h3>

  <p>
    Podemos recopilar información personal identificable, como su nombre, dirección
    de correo electrónico, dirección postal, número de teléfono, información de pago
    y cualquier otra información que usted nos proporcione voluntariamente al registrarse
    en nuestra plataforma o realizar transacciones en ella.
  </p>

  <h3 class="subtitle">Uso de la Información</h3>
  <p>
    Utilizamos la información personal recopilada para los siguientes fines:
  </p>
  <ul class="list">
    <li>Procesar transacciones y brindar los servicios solicitados.</li>
    <li>Comunicarnos con usted con respecto a su cuenta y brindarle soporte al cliente.</li>
    <li>Personalizar su experiencia y brindarle contenido y ofertas específicas.</li>
    <li>Mejorar nuestra plataforma y desarrollar nuevos productos y servicios.</li>
    <li>Cumplir con nuestras obligaciones legales y proteger nuestros derechos legales.</li>
  </ul>


  <h3 class="subtitle">Compartir Información Personal</h3>
  <p>
    No compartimos, vendemos ni alquilamos su información personal a terceros, excepto
    en las siguientes circunstancias:
  </p>
  <ul class="list">
    <li>Con su consentimiento explícito.</li>
    <li>Con proveedores de servicios de confianza que nos ayudan a operar nuestra plataforma y brindar servicios.</li>
    <li>Cuando sea necesario para cumplir con las leyes y regulaciones aplicables, responder a solicitudes legales o
      proteger nuestros derechos legales.</li>
  </ul>

  <h3 class="subtitle">Protección de la Información Personal</h3>
  <p>
    Implementamos medidas de seguridad físicas, técnicas y administrativas para proteger
    su información personal contra accesos no autorizados, uso indebido, divulgación,
    alteración o destrucción.
  </p>

  <h3 class="subtitle">Derechos de los Usuarios</h3>
  <p>
    Usted tiene derecho a acceder, corregir, actualizar o eliminar su información personal
    en cualquier momento. Puede ejercer estos derechos poniéndose en contacto con nosotros
    a través de los medios proporcionados en nuestra plataforma.
  </p>

  <h3 class="subtitle">Cambios en la Política de Privacidad</h3>
  <p>
    Nos reservamos el derecho de actualizar o modificar esta Política de Privacidad en
    cualquier momento. Le notificaremos sobre cualquier cambio significativo mediante una
    notificación en nuestra plataforma o por otros medios que consideremos apropiados.
  </p>

  <h3 class="subtitle">Contacto</h3>
  <p>
    Si tiene alguna pregunta o inquietud sobre esta Política de Privacidad, comuníquese
    con nosotros a través de los medios proporcionados en nuestra plataforma.
    Al utilizar nuestra plataforma, usted acepta y consiente el procesamiento de su
    información personal de acuerdo con esta Política de Privacidad y las leyes de protección
    de datos de la República del Perú.
  </p>
</div>
