
*{
  margin:0; padding:0;
  box-sizing: border-box;
  outline: none; border:none;
  transition: all .2s linear;
}

h1,h2,h3,h4,h5,h6,p{
  font-family: 'Montserrat', sans-serif;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding:25px;
  min-height: 100vh;
  background: linear-gradient(90deg, #ffffff 60%, #ffffff 40.1%);
}

.container form{
  padding:20px;
  width:1100px;
  background: #ffffff;
}

.container form .row{
  display: flex;
  flex-wrap: wrap;
  gap:60px;
}

.container form .row .col{
  flex:1 1 250px;
}

.container form .row .col .title{
  font-size: 20px;
  color: #000000;
  padding-bottom: 5px;
  font-weight: bold;
}

.container form .row .col .inputBox{
  margin:15px 0;
}

.inputBox2{
  margin:15px 0;
  display: block;
}


.right{
  margin-left: auto;
}

.container form .row .col .inputBox span{
  margin-bottom: 10px;
  display: block;
}
form{
  margin-top: 40px;
}

.container form .row .col .inputBox input{
  width: 100%;
  border:1px solid #ccc;
  padding:10px 15px;
  font-size: 15px;
}

.inputBox2 input{
  width: 100%;
  border-bottom:2px solid #cdcdcd;
  padding:10px 15px;
  font-size: 15px;
  text-transform: none;
}

input::placeholder{
  color: #cdcdcd;
}

.cards-img{
  text-align: right;
  justify-content: right;
  align-items: flex-start;
  padding-bottom: 10px;
}
.inputBox2 span{
  margin-bottom: 5px;
  display: block;
  color: #cdcdcd;
  font-weight: bold;
}
.container form .row .col .inputBox input:focus{
  border:1px solid #000;
}

.inputBox input{
  border-radius: 20px;
}
.container form .row .col .flex{
  display: flex;
  gap:15px;
}

.container form .row .col .flex .inputBox{
  margin-top: 20px;
  width: 100%;
}

.container form .row .col .inputBox img{
  height: 34px;
  margin-top: 5px;
  filter: drop-shadow(0 0 1px #000);
}

.flex-2{
  display: flex;
  margin-top: 5px;
  gap: 5px;
}

.flex-2 input{
  width: 50px;
}

.cvv input{
  width: 50px;
}

.flex-4 input{
  width: 70px;
}
.flex-right{
  margin-left: auto;
}
.mat-mdc-card{
  background-color: #ffffff;
  padding: 5px 20px 5px 20px;
  border-radius: 30px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3); /* sombra normal */
  border: 1px solid #e6e6e6;
}
.flex-3{
  display: block;
  margin-top: 5px;
}
.container form .submit-btn{
  width: 100%;
  padding:12px;
  font-size: 17px;
  background: #FFD146;
  color: #000000;
  margin-top: 30px;
  cursor: pointer;
  border-radius: 30px;
  font-weight: bold;
}

.container form .submit-btn:hover{
  background: #000000;
  color:#fff;
}

.col{
  align-content: center;
}

.button-back {
  top: 0;
  left: 0;
  position: absolute;
  margin:1rem;
  background-color: #FFD146;
  border-radius: 10px;
  height: 35px;
  width: 35px;
  display: flow;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.logo{
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.img-logo{
  width: 80%;
  padding-bottom: 30px;
}

