
.container-image-background{
  height: 20rem;
  position: relative;
}

.image-background{
  object-fit: fill;
  position: absolute;
  height: 100%;
  width: 100%;
}

.edit-title{
  font-size: 1.5rem;
  line-height: 1.25;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  padding-top: 4rem;
  padding-left: 3rem;
  padding-bottom: 1rem;
}
.line-text{
  display: flex;
  align-items: center;
  align-content: center;
}
.line {
  margin-bottom: 0.5rem;
  flex: 1;
  height: 1px;
  background-color: #C2C2C2;
  margin-left: 3rem;
  margin-right: 3rem;
}
.mesh-background{
  position: relative;
  background-color: rgba(0, 0, 0, 0.27);
  width: 100%;
  height: 100%;
}

.container-profile{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.container-avatar {
  border-radius: 50%;
  overflow: hidden;
  height: 12rem;
  width: 12rem;
}
.container-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

mat-card{
  background-color: transparent;
  display: flex;
  flex-direction: row;
}
mat-card-header{
  position: relative;
}
mat-card-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: inherit;
  margin-left: 1rem;
}

h1{
  font-size: 2.5rem;
  font-family: inherit;
  font-weight: bolder;
  line-height: 1;
}

.user-name{
  max-width: 300px;
  text-align: center;
}


.home-icon{
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.edit-profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
}
.container-edit-profile{
  max-width: 1100px;
  width: 100%;
}

.edit-profile-title{
  font-size: 1.5rem;
  line-height: 1.25;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
}
.edit-profile-title p{
  padding-bottom: 10px;
}
.hr {
  border: 0;
  height: 2px;
  background-color: #dcdcdc;
}
.content-edit {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.boxB {
  flex: 1;
  min-width: 250px;
}

.col1 {
  order: 1;
}

.col2 {
  order: 2;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}


.img-logo {
  display: block;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
}
.button-back {
  position: absolute;
  margin:1rem;
  background-color: #FFD146;
  border-radius: 10px;
  height: 35px;
  width: 35px;
  display: flow;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.mat-input-element{
  border: 1px solid #C2C2C2;
  width: 97%;
  height: 15px;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 1.5% 10px 1.5%;
  margin: 5px 0 5px 0;
}
.required{
  color: rgb(255, 0, 0);
}
 button,
button-change-password{
  background-color: #FFD146;
  width: 100%;
  padding: 15px;
  font-size: 15px;
  border: none;
  border-radius: 35px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
}

.button-change-password{
  background-color: #000000;
}
.button-change-password span{
  color: #FFD146;
}
.button-change-password:hover {
  background-color: #000000;
}
.button-change-password:hover span{
  color: #ffffff;
}
.close-session,
.delete-account
{
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.button-close-session {
  background-color: transparent;
  border: solid 3px #000000;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-close-session:hover {
  background-color: #000000;
  color: #ffffff;
  border: none;
}

.close-session mat-icon {
  margin-right: 20px;
}
.delete-account mat-icon{
  margin-right: 20px;
}

.button-delete-account,
.cancel-membership{
  background-color: transparent;
  border: solid 3px #ff0000;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cancel-membership{
  font-size: 16px;
}

.delete-account span,
.delete-account mat-icon {
  color: #ff0000;
}

.button-delete-account:hover,
.cancel-membership:hover{
  background-color: #ff0000;
  color: #ffffff;
  border: none;
  .delete-account span,
  .delete-account mat-icon {
    color: #ffffff;
  }
}



.card {
  background: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  padding: 10px;
}

.title {
  color: #FFD146;
  font-weight: bold;
  font-size: 26px;
  margin-bottom: 15px;
}
.content{
  text-align: center;
}
.membership-name,
.membership-price{
  color: #000000;
  font-weight: bold;
  margin: 20px 0 20px 0;
}
.membership-name{
  font-size: 25px;
}
.membership-price {
  font-size: 30px;
}
.info-price,
.membership-date {
  margin: 20px 0 20px 0;
  font-size: 20px;
  color: #000000;
}

.button-edit-profile-image{
  all: initial;
  right: 10%;
  top: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  width:1.5rem;
  height: 2rem;
  position: absolute;
  padding:0 1rem;
  margin:0;
  background-color: #FFD146;
  border-radius: 7px;
}
.button-edit-profile-image mat-icon{
  margin:0;
}

@media (max-width: 450px) {
  .content-edit {
    flex-direction: column;
    align-items: center;
  }

  .mat-card-content{
    margin-left: 0;
  }
  .col1, .col2 {
    width: 100%;
    order: unset;
  }
  .delete-account mat-icon{
    margin-right: 10px;
  }
}

@media (max-width: 768px) {
  .container-profile{
    width: 100%;
    text-align: center;
  }

  .container-avatar {
    height: 8rem;
    width: 8rem;
  }

  h1{
    font-size: 1.5rem;
    padding-top: 1rem;
  }

  mat-card{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mat-mdc-card-content:last-child{
    margin-left: 0;
  }

  .button-edit-profile-image{
    width: 1rem;
    height: 1.5rem;
  }
  .button{
    width: 100%;
  }
}
