.container,button{
  padding: 0 7rem 0 7rem;
  font-family: 'montserrat', serif;
}

h1,.section-info-post,.section-info-contact,section{
  font-family: inherit
}

.container-create-post{
  display: flex;
}

section{
  background-color: #FFD146;
  height: 4rem;
  margin:2rem 0 2rem 0;
  align-content: center;
  padding-left: 1.5rem;
  border-radius: 30px 0 0 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Sombras en los bordes */

}

section h1{
  margin:0;
  font-size:2rem;
  font-weight: bolder;

}


.section-1{
  width: 40%;
  margin-right: 1rem;
}

.section-info-post{
  width: 60%;
  margin-left: 1rem;
}

.button-submit{
  justify-self: center;
  background: #FFD146;
  border-radius: 10px;
  width: 100%;
  margin:2rem 0 2rem 0;
  font-weight: bolder;
}
.btn-res{
  display: none;
}

.btn-desk{
  display: flex;
}

@media (max-width: 900px){

  .container-create-post{
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
  }

  .btn-res{
    display: flex;
  }

  .btn-desk{
    display: none;
  }

  .section-1,.section-info-post{
    width: 100%;
    margin:0;
  }

  .container{
    padding: 2rem;
  }

  section h1{
    font-size:1.5rem;
  }
}
